<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Скачанные файлы</title>

    <style>

        body{
            font-family: Arial;
            margin:40px;
        }

        table{
            border-collapse: collapse;
            width:100%;
        }

        th,td{
            border:1px solid #ccc;
            padding:10px;
        }

        th{
            background:#f5f5f5;
        }

    </style>

</head>
<body>

<h1>Скачанные файлы</h1>

<form action="/calculate" method="post">

    <input
        type="hidden"
        id="allFiles"
        name="all_files"
        value="false">

<table>

    <tr>
        <th>
            <input
                type="checkbox"
                id="selectAll"
                onclick="selectAllFiles()"
            >
        </th>

        <th>Имя файла</th>
        <th>Время скачивания</th>
    </tr>

    {% for file in files %}

    <tr>

        <td>
            <input
                    type="checkbox"
                    name="files"
                    value="{{ file.filename }}"
            >
        </td>

        <td>{{ file.filename }}</td>

        <td>{{ file.downloaded_at }}</td>

    </tr>

    {% endfor %}

</table>

<br><br>

    <button
            type="button"
            onclick="selectAllDatabaseFiles()">
        Выбрать все файлы из базы
    </button>

<button type="submit">
    Произвести расчёты
</button>

</form>

<hr>

<div>

    {% if page > 1 %}

    <a href="/files?page={{ page - 1 }}">
        Назад
    </a>

    {% endif %}


    &nbsp;

    Страница {{ page }} из {{ total_pages }}


    &nbsp;


    {% if page < total_pages %}

    <a href="/files?page={{ page + 1 }}">
        Вперёд
    </a>

    {% endif %}

</div>

<script>

    function selectAllFiles(){

        let checkboxes = document.querySelectorAll(
            'input[name="files"]'
        );

        let selectAll = document.getElementById(
            "selectAll"
        ).checked;


        checkboxes.forEach(
            checkbox => {
                checkbox.checked = selectAll;
            }
        );

    }



    function selectAllDatabaseFiles(){

        document.getElementById(
            "allFiles"
        ).value = "true";

        let checkboxes = document.querySelectorAll(
            'input[name="files"]'
        );

        checkboxes.forEach(
            checkbox => {
                checkbox.checked = true;
            }
        );


        alert(
            "Будут выбраны все файлы из базы"
        );

    }

</script>

</body>
</html>